.circle {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    border-radius: 50%;
}

button {
    margin: 0 5px 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.on {
    background: green;
}

.off {
    background: red;
}